body{
    background:#ffffff url("../images/tp-bg.jpg") no-repeat 0 0 /100% 605px;
}
#select{
    background: url("../images/loading2.gif") no-repeat center center ;
    min-height: 300px;
}
.rule-title{
    background: url("../images/rule-title.png") no-repeat center center;
    height: 99px;
    width: 436px;
    color: #ffffff;
    line-height: 99px;
    text-indent: 120px;
    font-size: 30px;
    margin: 10px auto;
}
.rules{
    font-size: 18px;
    color: #333333;
    line-height: 40px;
}
.range-title{
    margin: 10px auto;
    margin-bottom: 20px;
    font-size: 30px;
    color: #000002;
    line-height: 30px;
    width: 260px;
    height: 30px;
    position: relative;
    overflow: visible;
}
.select-title{
    margin: 30px auto;
    margin-top: 60px;
    font-size: 30px;
    color: #000002;
    line-height: 30px;
    width: 215px;
    height: 30px;
    position: relative;
    overflow: visible;
}
.range-title::before,.select-title::before{
    content: "";
    background: url("../images/title.png");
    height: 25px;
    width: 17px;
    position: absolute;
    top: 3px;
    left: -20px;
}
.range-title::after,.select-title::after{
    content: "";
    background: url("../images/title.png") no-repeat -267px 0;
    height: 25px;
    width: 17px;
    position: absolute;
    top: 3px;
    right: -17px;
}
.bottom{
    background: url("../images/bt-bg.jpg") no-repeat 0 0/100% 197px;
    height: 57px;
    padding-top: 140px;
    text-align: left;
    width: 100%;
}
.bottom .bt-text{
    color: #000000;
    font-size: 15px;
    line-height: 30px;
    margin-left: 85px;
}
.range{
    background: url("../images/range.jpg") no-repeat 0 0/100% 280px;
    height: 280px;
}
.range .item{
    background: url("../images/range-item.png") no-repeat 1px 1px;
    height: 44px;
    line-height: 44px;
    font-size: 17px;
    color: #666666;
    position: relative;
}
.range .item .location{
    display: inline-block;
    width: 72px;
}
.range .item .piao{
    margin-right: 20px;
}
.range .item .num{
    color: #016f37;
}
.range .item.top::before{
    content: "";
    background: url("../images/range-ye.png") no-repeat center center;
    height: 29px;
    width: 25px;
    position: absolute;
    top: -10px;
    left: -14px;
}
.range .item.h{
    margin: 15px 0;
}
.range .item .item-num{
    display: inline-block;
    height: 44px;
    width: 42px;
    line-height: 44px;
    text-align: center;
    font-size: 23px;
    color: #71342f;
    margin-right: 10px;
}
.range .l50{
    width: 50%;
    height: 100%;
}
.range .r50{
    width: 50%;
    height: 100%;
}
/*ѡ���б�*/
#selected-section{
    background: #ffffff;
}
.section-all{
    background: #f1f1f1;
    width: 100%;
    height: auto;
}
/*section-item����*/
.SectionItem-enter {
    opacity: 0.01;
    transition: all 500ms ease-in;
}

.SectionItem-enter.SectionItem-enter-active {
    opacity: 1;
}

.SectionItem-leave {
    opacity: 1;
    transition: all 10ms ease-in;
}

.SectionItem-leave.SectionItem-leave-active {
    opacity: 0;
}
.select-item{
    background: #ffffff;
    margin-bottom: 300px;
}
.select-item li{
    line-height: 45px;
    font-size: 20px;
    color: #333333;
    width: 70px;
    text-align: center;
    cursor: pointer;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 15px;
    background: #ffffff;
}
.select-item li:hover,.select-item li.cur{
    background:#ffffff url("../images/select-li.png ") no-repeat 9px 4px;
    color: #ffffff;
}
/*�����*/
.section-item .section-title{
    background: url("../images/section-title.png") no-repeat center center;
    height: 29px;
    width: 287px;
    display: block;
    margin: 10px auto;
    text-indent: 75px;
    font-size: 30px;
    color: #7a4036;
    line-height: 30px;
}
/*��ľ��Ԫ*/
.tree-item{
    display: inline-block;
    width: 555px;
    margin-left: 42px;
    margin-top: 20px;
}
.tree-item .info{
    margin-left: 300px;
}
.tree-item img.top{
    height: 195px;
    width: 278px;
    cursor: pointer;
}
.tree-item p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    font-size: 14px;
    line-height: 28px;
}
.tree-item .name{
    font-size: 18px;
    color: #306f36;
    font-weight: bold;
}
.tree-item .summary{
    font-size: 14px;
    color: #666666;
    line-height: 28px;
    height: 85px;
    overflow: hidden;
    margin-top: 20px;
}
/*ͶƱ���*/
.vote-info{
    height: 28px;
    margin-top: 10px;
}
.vote-info .fav{
    height: 28px;
    line-height: 28px;
    color: #306f36;
    font-size: 16px;
    position: relative;
    margin-left: 40px;
}
.vote-info .fav::before{
    background: url("../images/fav-ra.png") no-repeat 7px 7px;
    position: absolute;
    top: 0;
    left: -28px;
    height: 28px;
    width: 28px;
    content: '';
}
.vote-info .ra-list{
    height: 28px;
    line-height: 28px;
    color: #306f36;
    font-size: 16px;
    position: relative;
    margin-left: 40px;
}
.vote-info .ra-list::before{
    background: url("../images/fav-ra.png") no-repeat -38px 7px;
    position: absolute;
    top: 0;
    left: -28px;
    height: 28px;
    width: 28px;
    content: '';
}
.vote-btn{
    height: 28px;
    width: 100px;
    position: relative;
    background: #b2b2b2;
    border-radius: 14px;
    overflow: hidden;
    margin-left: 220px;
    float: left;
}
.vote-info .vote-btn .btn{
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background: #ffffff;
    position: absolute;
    top: 3px;
    left: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
}
.vote-info .vote-btn .state1{
    height: 28px;
    width: 100px;
    position: absolute;
    white-space: nowrap;
    line-height: 28px;
    border-radius: 14px;
    top: 0;
    left: -100px;
    color: #ffffff;
    background: #306f36;
    text-indent: 22px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.vote-info .vote-btn .state2{
    height: 28px;
    width: 100px;
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    text-indent: 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.vote-info .vote-btn input[type=radio]{
    height: 25px;
    width: 50%;
    position: absolute;
    display: block;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
}
.vote-info .vote-btn input.uncheck{
    top: 0;
    left: 0;
}
.vote-info .vote-btn input.check{
    top: 0;
    right: 0;
}
.vote-info .vote-btn input[type=radio]:checked ~ div.btn{
    left: 3px;
}
.vote-btn input[type=radio]:checked ~ div.state1{
    left: -100px;
}
.vote-btn input[type=radio]:checked ~ div.state2{
    left: 0;
}
.vote-info .vote-btn input[type=radio].check:checked ~ div.btn{
    left: 75px;
}
.vote-btn input[type=radio].check:checked ~ div.state1{
    left: 0;
}
.vote-btn input[type=radio].check:checked ~ div.state2{
    left: 100px;
}
/*ͼƬչʾ*/
.pic-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}
.pic-wrap .close-btn{
    position: absolute;
    top: 20px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: 2px solid #ffffff;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 30px;
}
.pic-wrap .container{
    height: 98%;
    min-height: 731px;
    padding-top: 1%;
    overflow: auto;
}
.pic-wrap .close-btn:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.pic-wrap .pic-list{
    height: 60%;
}
.pic-wrap .pic-list .owl-stage-outer{
    height: 100%;
}
.pic-wrap .pic-list .owl-stage-outer .owl-stage{
    height: 100%;
}
.pic-wrap .pic-list .owl-stage-outer .owl-stage .owl-item{
    height: 100%;
}
.pic-wrap .pic-list .owl-stage-outer .owl-stage .owl-item img{
    display: block;
    height: 100%;
}
.pic-wrap .owl-prev{
    height: 55px;
    width: 35px;
    position: absolute;
    left: -40px;
    top: 45%;
    margin-top: -27px;
    background: url("../images/slide-btn.png") no-repeat 0 -85px;
}
.pic-wrap .owl-prev:hover{
    background-position-y: 2px;
}
.pic-wrap .owl-next{
    height: 55px;
    width: 35px;
    position: absolute;
    right: -40px;
    top: 45%;
    margin-top: -27px;
    background: url("../images/slide-btn.png") no-repeat -80px -85px;
}
.pic-wrap .owl-next:hover{
    background-position-y: 4px;
}
.pic-wrap .info{
    height: 33%;
    padding: 1%;
    margin-top: 1%;
    overflow: hidden;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius: 15px;
    background: #ffffff;
}
.pic-wrap p{
    color: #333333;
    font-size: 14px;
    line-height: 28px;
}
.pic-wrap .name{
    font-size: 18px;
    color: #306f36;
    font-weight: bold;
}
/*û������ģ��*/
.noDate{
    line-height: 300px;
    text-align: center;
    font-size: 30px;
    color: #333333;
}
/*�ύ����*/
.select-result{
    width: 100%;
    background: #ffffff;
    z-index: 100;
    position: relative;
}
.res-code{
    text-align: center;
    margin-top: 20px;
}
.res-code input[type=image]{
    height: 48px;
    width: 113px;
    border: 1px solid #cfcfcf;
    vertical-align:bottom;
    text-align: center;
    margin-right: 15px;
}
.res-code input[type=text]{
    height: 48px;
    width: 206px;
    border: 1px solid #cfcfcf;
    color: #999999;
    font-size: 18px;
    background:#fff;
    text-indent: 10px;
}

.select-result .submit a{
    width: 360px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #ffffff;
    display: block;
    text-align: center;
    background: #306f36 url("../images/submit-success.png") no-repeat 65px 15px;
    margin: 20px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#result-item{
    margin-top: 20px;
}
#result-item .item{
    height: 125px;
    width: 120px;
    float: left;
    overflow: visible;
    position:relative;
}
#result-item .item .img{
    width: 105px;
    border: 1px solid #cccccc;
    padding: 2px;
    margin: 5px auto;
    overflow: visible;
    position:relative;
}
#result-item .item .img .tag{
    position: absolute;
    background: #a40000;
    color: #ffffff;
    top: 0;
    left: 0;
    height: 20px;
    width: 45px;
    line-height: 20px;
    text-align: center;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
#result-item .item .img img{
    display: block;
    height: 70px;
    width: 100px;
    margin: 0 auto;
}
#result-item .item .name{
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#result-item .item:hover{
    -webkit-box-shadow: 0 3px 4px #ccc;
    -moz-box-shadow: 0 3px 4px #ccc;
    box-shadow: 0 3px 4px #ccc;
}
#result-item .item .close{
    position: absolute;
}
#result-item .item:hover .close{
    height: 15px;
    width: 15px;
    border: 1px solid #272636;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    top: -10px;
    right: -10px;
    cursor: pointer;
}